body{
    padding: 0;
    text-align: center;
}
.intro{
    float: left;
    width: 50%;
    margin: 5px 20px;
}
.game{
    float: left;
    width: 50%;
} 
.logo{
    width: 355px;
    margin-top: 60px;
    height: 146px;
}
.totoro{
    width: 310px;
    height: 310px;
}
.pics{
    display: flex;
    flex-direction: row;
} 
.song{
    font-weight: 800;
    font-size: 25px;
}
p, button, span{
    font-family: 'Sansita', sans-serif;
}
p{
    font-size: 20px;
    text-align: center;
}
button{
    width: 30%;
    height: 35px;
    margin: 7px;
    background-color: rgb(5, 177, 177);
    color: white;
    font-size: 18px;
}
#canvas{
    margin: 20px 30px;
    width: 410px;
    height: 550px;
    background-image: url(Imagenes/b1_opt.jpg);
    float: right;
}
#score{
    font-size: 40px;
}
#perfect{
    background-image: url(Imagenes/perfect);
    height: 42px;
    width: 220px;
    position: fixed;
    left: 940px;
    top: 300px;
    display: none;
}

#great{
    background-image: url(Imagenes/great);
    height: 60px;
    width: 220px;
    position: fixed;
    left: 940px;
    top: 340px;
    display: none;
}
#early{
    background-image: url(Imagenes/early);
    height: 55px;
    width: 165px;
    position: fixed;
    left: 955px;
    top: 390px;
    display: none;
}
#miss{
    background-image: url(Imagenes/miss);
    height: 60px;
    width: 220px;
    position: fixed;
    left: 940px;
    top: 442px;
    display: none;
}
